body {
    min-height: 100vh;
    background-image: url("./bg4.gif");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}

#github:hover { color: #6e5494; }
#instagram:hover { color: #db7fbc; }
#discord:hover { color: #5865F2; }

.wave {
    animation-name: wave-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
  
@keyframes wave-animation {
    0% { transform: rotate(0deg) }
   10% { transform: rotate(14deg) } 
   20% { transform: rotate(-8deg) }
   30% { transform: rotate(14deg) }
   40% { transform: rotate(-3deg) }
   50% { transform: rotate(10deg) }
   60% { transform: rotate(10deg) } 
  100% { transform: rotate(0deg) }
}

